/*todo scss*/

.Message{
    display: block;
    margin: 50px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
    background-color: whitesmoke;
    text-align: left;
}

.Message.FINISHED{
    opacity: 0.5;
}


textarea{
    width: 100%;
    height: 250px;
    border: 2px solid #cccccc;
    font-size: 1.5em;

} 

